body {
    
    text-align: center;
}
#js-form {
    width: 200px;
}
input {
    width: 50px;
}
ul {
    display: inline-block;
    width: 30%;
}
.items {
    margin: 20px;
    display: block;
    list-style: none;
}
